body {
  font-family: 'Open Sans',sans-serif,Arial;
  font-size: 16px;
  color: #6D6D6D;
  background-color: #F5F5F5;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #999999;
  text-decoration: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat',sans-serif,Arial;
  padding-bottom: 5px;
  line-height: 1em;
  font-weight: normal;
}

h4 {
    font-size: 18px;
}

h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul li {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 45px;
}

nav ul li a {
  font-weight: 500;
}

#volet {
  display: block;
  position: fixed;
  left: -290px;
  top: 0;
  width: 270px;
  height: 100%;
  padding: 10px;
  background: #222222;
  color: #fff;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
  z-index: 99;
}

#volet a.ouvrir,
#volet a.fermer {
  width: 50px;
  height: 50px;
  font-size: 18px;
  background: #ffffff;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  position: absolute;
  right: -70px;
  top: 10px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

#volet:target {
  left: 0;
}

#volet:target .ouvrir {
  display:none;
}

#volet:target .fermer {
  display:block;
}

#volet a.fermer {
  display: none;
}

#volet_clos:target #volet {
  left: -270px;
}

.nav-content {
  margin-top: 40px;
  text-align: center;
}

.logo {
  background-image: url(monkey.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  margin-left: 40px;
  box-shadow: inset 0 0 0 0 rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
}

.fa {
  margin-left: 17.4px;
  margin-top: 17px;
}

.couverture {
  background-image: url(couverture.jpg);
  background-position: center;
  background-size: cover;
  background-position: fixed;
  height: 42em;
  width: 100%;
  z-index: 1:
}

#cover-style {
  filter: brightness(25%) blur(0.5px);
  -webkit-filter: brightness(25%) blur(0.5px);
  -moz-filter: brightness(25%) blur(0.5px);
  -o-filter: brightness(25%) blur(0.5px);
  -ms-filter: brightness(25%) blur(0.5px);
}

.avatar {
  background-image: url(theo.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 0 0 rgba(200,95,66, 0.4), inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
  width: 260px;
  height: 260px;
  border-radius: 50%;
  position: relative;
  bottom: 570px;
  margin: 0 auto;
  z-index: 2;
}

.titles {
  position: relative;
  bottom: 570px;
  text-align: center;
  color: #ffffff;
  z-index: 3;
}

.titles h1 {
  font-family: Pacifico;
  font-size: 60px;
  font-weight: normal;
}

.titles h2 {
  font-size: 30px;
  line-height: 1em;
  font-weight: normal;
}

.chevrons {
  position: relative;
  bottom: 570px;
  text-align: center;
  font-size: 40px;
}

.content {
  margin-top: -30em;
  margin-left: 110px;
  margin-right: 110px;
}

.about h1 {
  font-weight: 700;
  font-size: 57px;
  letter-spacing: -5px;
  line-height: 50px;
  color: #373432;
}

.border {
  display: block;
  height: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100px;
  background-color: #999999;
}

.about p {
  font-size: 20px;
  line-height: 30px;
}

.presentation {
  margin-top: 80px;
}

.img-about {
  float: left;
  width: 49%;
}

.img-panda {
  width: 100%;
  height: 100%;
}

.presentation-text {
  float: left;
  width: 49%;
  line-height: 23px;
  padding-left: 15px;
}
